<header id="header" class="header sticky-top">
    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@autill.com">info@autill.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:+496915629390">+49 69 156 293 90</a></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
            <!-- <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> -->
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  
    <div class="branding d-flex align-items-center">
      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="{{ '/' | relative_url }}" class="logo d-flex align-items-center">
          <!-- Uncomment below if you want to use an image logo -->
          <!-- <img src="{{ '/assets/img/logo.png' | relative_url }}" alt=""> -->
          <h1 class="sitename">{{ site.title }}</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
            <li><a href="{{ '/services' | relative_url }}">Services</a></li>
            <li><a href="{{ '/portfolio' | relative_url }}">Portfolio</a></li>
            <li><a href="{{ '/team' | relative_url }}">Team</a></li>
            <li><a href="{{ '/pricing' | relative_url }}">Pricing</a></li>
            <li><a href="{{ '/blog' | relative_url }}" class="active">Blog</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </div>
  </header>
  